
<div class="container">
<div class="container-fluid " >
<div class="row m-5">
  <div class="col-sm-6 " >
    <a href="/wish-list">
    <div class="card ">
      <div class="card-body btn">
        <div style="margin: 10rem;">
        <h5  class="card-title">Wish List</h5>
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm-6 " >
    <a href="/orders">
    <div class="card ">
      <div class="card-body btn">
        <div style="margin: 10rem;">
        <h5  class="card-title">Orders</h5>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
</div>


<div class="container-fluid" >
<div class="row m-5 ">
  <div class="col-sm-6 " >
    <a href="/address">
    <div class="card ">
      <div class="card-body btn">
        <div style="margin: 10rem;">
        <h5  class="card-title">Manage Addresses</h5>
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm-6 " >
      <a href="/profile">
    <div class="card ">
      <div class="card-body btn">
        <div style="margin: 10rem;">
        <h5  class="card-title">Profile Information</h5>
        </div>
      </div>
    </div>
      </a>
  </div>
</div>
</div>

</div>