

  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 ">

            <h3 class="mb-5 text-center">User Log in</h3>
            {{#if loginErr}}
                <p class="btn-danger">{{loginErr}}</p>
              {{/if}}
            <form action="/login" method="POST">
              <div >
                <label  for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg"required/>
              </div>
              
              <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg" required />
              </div>
              {{#if loginPasswordErr}}
              <p>{{loginPasswordErr}}</p>
              {{/if}}
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
            <p class="text-center mt-2">OR</p>
              <a href="/otp-login"><button  class="btn btn-success btn-lg btn-block" type="submit">Request OTP</button></a>
            <p class="mt-4">Don't have an Account? Create one <a style="color: green; text-decoration: underline;" href="signup">sign up</a></p>
            <hr>
          </div>
        </div>

<div class="container mt-4">
  <h3>Rate this product</h3>
  <fieldset class="rating" id="star-rating">
    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
  </fieldset>
  <p>Your rating: <span id="selected-rating"></span></p>
  <button type="button" id="submit-rating" class="btn btn-primary">Submit</button>
</div>



<style>
.rating {
  display: inline-block;
  position: relative;
  width: 100%;
}

.rating input {
  display: none;
}

.rating label {
  color: #ddd;
  font-size: 30px;
  padding-right: 10px;
  cursor: pointer;
}

.rating label:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
}

.rating label:hover:before,
.rating label:hover ~ label:before,
.rating input:checked ~ label:before {
  color: #ffac2f;
}


</style>

<script>
  var selectedRating = 0;

$('input[name="rating"]').change(function() {
  selectedRating = parseInt(this.value);
  updateStars(selectedRating);
});

function updateStars(rating) {
  $('#selected-rating').text(rating + ' stars');
  
  $('.rating label').each(function() {
    var num = parseInt($(this).prev().val());
    
    if (num <= rating) {
      $(this).css('color', '#ffac2f');
    } else {
      $(this).css('color', '#ddd');
    }
  });
}

$('#submit-rating').click(function() {
  // Send rating to backend using AJAX or form submission
  alert('You rated ' + selectedRating + ' stars!');
});

</script>
      </div>
    </div>
    
  </div>
